set timeout=5
set default=0

menuentry "NyxOS 1.0.1" {
    multiboot /boot/nyx-kernel.bin
    module /boot/initramfs.cpio.gz
    module /boot/doom1.wad doom1.wad
    boot
}

menuentry "NyxOS (safe mode)" {
    multiboot /boot/nyx-kernel.bin safe_mode=1
    module /boot/initramfs.cpio.gz
    module /boot/doom1.wad doom1.wad
    boot
}
