[submodule "components/hemera"]
	path = components/hemera
	url = https://github.com/nyxos-dev/hemera.git
[submodule "components/erebus"]
	path = components/erebus
	url = https://github.com/nyxos-dev/erebus.git
[submodule "components/selene"]
	path = components/selene
	url = https://github.com/nyxos-dev/selene.git
[submodule "components/mnemosyne"]
	path = components/mnemosyne
	url = https://github.com/nyxos-dev/mnemosyne.git
